.App {
  text-align: center;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chessboard-div {
  max-width: 55%;
  max-height: 55%;
  position: relative;
}

.turn-indicator {
  position: absolute;
  top: 50%;
  left: -120px;
  width: 100px;
  height: 40px;
  border-radius: 25px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.turn-indicator.white {
  background-color: white;
  color: black;
}

.turn-indicator.black {
  background-color: black;
  color: white;
}

.checkmate {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -200px;
  border-radius: 20px;
  background-color: #F08080;
  color: #FFF;
  padding: 10px 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  margin: 10px;
}

@media (max-width: 768px) {
  .turn-indicator {
    position: static;
    margin-bottom: 10px;
  }
  
  .checkmate {
    position: static;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
